{% extends "discussions_and_notebooks/discussions_and_notebooks_base.html" %}

<!-- discussions CSS -->
{% block discussions_and_notebooks_css_previous %}
{% block discussions_css_previous %}{% endblock %}
{% endblock %}

<!-- TITLE -->
{% block discussions_and_notebooks_title %}
{% block discussions_title %}{% endblock %}
{% endblock %}

<!-- discussions SCRIPT previous -->
{% block discussions_and_notebooks_js_previous %}
{% block discussions_js_previous %}{% endblock %}
{% endblock %}

<!-- CONTENT -->
{% block discussions_and_notebooks_content %}

<!-- discussions CONTENT -->
{% block discussions_content %}{% endblock %}

{% endblock %}

<!-- discussions SCRIPT rear -->
{% block discussions_and_notebooks_js_rear %}
{% block discussions_js_rear %}{% endblock %}
{% endblock %}