{% load date2progressrate %}
{% load date2progress_days %}
{% load date2remain_days %}


<script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    })
</script>

<div class="col-md-10 col-sm-11 mx-auto my-0 p-2">
    <hr>
    <p class="fs-2 m-0 p-0">Timeline</p>
    <div class="col-md-10 col-sm-11 mx-auto">
        <div class="row m-0 p-0">
            <p class="col-6 text-left m-0 p-0" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="false" data-bs-custom-class="mr-1" data-bs-offset="5, 0" title="{{ COMPETITION_DATA.date_open|date:'Y/m/d G:i' }}"><small class="text-muted">start: {{ COMPETITION_DATA.date_open|date:'Y/m/d' }}</small>
            </p>
            <p class="col-6 text-right m-0 p-0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="false" data-bs-custom-class="ml-1" data-bs-offset="5, 0" title="{{ COMPETITION_DATA.date_close|date:'Y/m/d G:i' }}"><small class="text-muted">close: {{ COMPETITION_DATA.date_close|date:'Y/m/d' }}</small></p>
        </div>
        <div class="row m-0 p-0">
            <p class="col-6 text-left m-0 p-0" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="false" data-bs-custom-class="mr-1" data-bs-offset="-5, 0" title="{{ COMPETITION_DATA.date_open|date:'Y/m/d G:i' }}"><small class="text-muted">{{ COMPETITION_DATA.date_open | date2progress_days }}</small>
            </p>
            <p class="col-6 text-right m-0 p-0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="false" data-bs-custom-class="ml-1" data-bs-offset="-5, 0" title="{{ COMPETITION_DATA.date_close|date:'Y/m/d G:i' }}"><small class="text-muted">{{ COMPETITION_DATA.date_close | date2remain_days }}</small></p>
        </div>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar"
                style="width: {{ COMPETITION_DATA.date_open | date2progressrate:COMPETITION_DATA.date_close }}%"
                aria-valuenow="{{ COMPETITION_DATA.date_open | date2progressrate:COMPETITION_DATA.date_close }}" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
    </div>
</div>