<form class="card p-4">
  <div class="input-group date mb-3" id="flatpickr_date" data-target-input="nearest">
    <label for="flatpickr_date" class="pt-2 pr-2">日付：</label>
    <input type="text" data-input class="form-control" data-target="#flatpickr_date" style='background:white' />
    <span class="input-group-text" data-toggle>
      <i class="far fa-calendar-alt"></i>
    </span>
  </div>
  <div class="input-group date mb-3" id="flatpickr_time" data-target-input="nearest">
    <label for="flatpickr_time" class="pt-2 pr-2">時刻：</label>
    <input type="text" data-input class="form-control" data-target="#flatpickr_time" style='background:white' />
    <span class="input-group-text" data-toggle>
      <i class="far fa-clock"></i>
    </span>
  </div>
  <div class="input-group date mb-3" id="flatpickr_date_time" data-target-input="nearest">
    <label for="flatpickr_date_time" class="pt-2 pr-2">日時：</label>
    <input type="text" data-input class="form-control" data-target="#flatpickr_date_time" style='background:white' />
    <span class="input-group-text" data-toggle>
      <i class="far fa-calendar-alt"></i>
    </span>
  </div>
</form>