{% extends "discussions_and_notebooks/discussions_and_notebooks_base.html" %}

<!-- notebooks CSS -->
{% block discussions_and_notebooks_css_previous %}
{% block notebooks_css_previous %}{% endblock %}
{% endblock %}


<!-- TITLE -->
{% block discussions_and_notebooks_title %}
{% block notebooks_title %}{% endblock %}
{% endblock %}

<!-- notebooks SCRIPT previous -->
{% block discussions_and_notebooks_js_previous %}
{% block notebooks_js_previous %}{% endblock %}
{% endblock %}

<!-- notebooks CONTENT -->
{% block discussions_and_notebooks_content %}

<!-- notebooks CONTENT -->
{% block notebooks_content %}{% endblock %}

{% endblock %}

<!-- notebooks SCRIPT rear -->
{% block discussions_and_notebooks_js_rear %}
{% block notebooks_js_rear %}{% endblock %}
{% endblock %}