{% extends "accounts/accounts_base.html" %}

<!-- TITLE -->
{% block accounts_title %} | Log in{% endblock %}

<!-- CONTENT -->
{% block accounts_content %}

<h2>Log in</h2>

<div class="container form-signin pt-4">
    <div class="row m-0 p-0 mx-auto">
        <div class="col-md-6 col-ms-12 m-0 p-0 mx-auto">
            <form method="post">
                {% csrf_token %}

                <!-- FORM ERROR CUSTOM -->
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        正しいメールアドレスとパスワードを入力してください。<br>
                        パスワードを忘れた場合は<a href="{% url 'accounts:password_reset' %}" class="alert-link">こちらで</a>再設定できます。
                    </div>
                {% endif %}

                <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0">

                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label }}</label>
                            
                            <div class="input-group">
                                <input type="{{ form.username.field.widget.input_type }}"
                                class="form-control {% if form.username.errors %}is-invalid{% endif %}" 
                                name="{{ form.username.html_name }}" 
                                id="{{ form.username.id_for_label }}"
                                placeholder="{{ form.username.label }}"
                                autofocus
                                {% if form.username.field.required %}required{% endif %} />
                            
                                {% if form.username.errors %}
                                    {% for error in form.username.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 m-0 p-0">
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
                            
                            <div class="input-group">
                                <input type="{{ form.password.field.widget.input_type }}"
                                class="form-control {% if form.password.errors %}is-invalid{% endif %}" 
                                name="{{ form.password.html_name }}" 
                                id="{{ form.password.id_for_label }}"
                                placeholder="{{ form.password.label }}"
                                {% if form.password.field.required %}required{% endif %} />
                            
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 m-0 p-0">
                    <div class="form-group">
            
                        <!--  CHECK TYPE -->
                        <div class="form-check">
                            <input type="{{ form.login_remenber.field.widget.input_type }}"
                            class="form-check-input" 
                            name="{{ form.login_remenber.html_name }}" 
                            id="{{ form.login_remenber.id_for_label }}"
                            {% if form.login_remenber.field.required %}required{% endif %} />
                            <label class="form-check-label" for="{{ form.login_remenber.id_for_label }}">
                            {{ form.login_remenber.label }}
                            </label>
                
                            {% if form.login_remenber.errors %}
                                {% for error in form.login_remenber.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <hr>
                <div class="d-flex justify-content-center">
                    <button id="submit" class="btn btn-primary" type="submit">Log in</button>
                </div>

            </form>
        </div>

        <div class="col-md-3 col-ms-12 m-0 p-0">
            {% if USE_SOCIAL_LOGIN %}
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-decoration-none"><i class="bi bi-google mr-1"></i>Log in with Google</a>
                <hr>
            {% endif %}
            <a href="{% url 'accounts:password_reset' %}" class="text-decoration-none"><i class="bi bi-question-circle-fill mr-1"></i>Forgot password?</a>
            <hr>
            <a href="{% url 'accounts:signup' %}" class="text-decoration-none"><i class="fas fa-user-plus mr-1"></i>Sign in</a>
            <hr>
        </div>
        
    </div>
</div>


{% endblock %}
