{% extends 'management/management_base.html' %}

<!-- TITLE -->
{% block management_title %} - タグ一覧{% endblock %}

<!-- SIDEVER -->
{% block management_sidebar %}
    {% include 'management/include/sidebar.html' with management_tags_active='active' %}
{% endblock %}

<!-- CONTENT -->
{% block management_content %}


<!-- back botton -->
<a type="button" class="btn btn-outline-danger btn-sm mb-3" href="{% url 'management:tags_list' %}"><i class="bi bi-skip-backward mr-2"></i>戻る</a>

<h5 class="mb-2 mt-0 p-0">Delete Tag</h5>
<hr>

<div class="col-md-10 col-sm-11 display-5 lead mx-auto my-0 p-0">
    Deltete:
</div>
<div class="col-md-10 col-sm-11 display-5 lead text-center mx-auto my-0 p-0">
    「{{object.name}}」 in {{OBJECT_TYPE}} Tag
</div>
<div class="col-md-10 col-sm-11 mx-auto my-0 p-1">
    <form method="post">

        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form-group my-5">
            
            <div class="input-group">
                <input type="{{ form.check_text.field.widget.input_type }}"
                class="form-control {% if form.check_text.errors %}is-invalid{% endif %}" 
                name="{{ form.check_text.html_name }}" 
                id="{{ form.check_text.id_for_label }}"
                placeholder="delete"
                {% if form.check_text.field.required %}required{% endif %} />

            {% if form.check_text.errors %}
                {% for error in form.check_text.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            </div>
            {% if form.check_text.help_text %}
                <div class="alert alert-danger" role="alert">{{ form.check_text.help_text }}</div>
            {% endif %}
        </div>

        <hr>
        <div class="d-flex justify-content-center">
            <button class="btn btn-danger" type="submit">Delete</button>
        </div>

    </form>
</div>

{% endblock %}