{% comment 'include/summernote/summernote_form.html への引数例' %}
    form_field_name=form.text
    submit_button_name='Post Comment'
    input_text_area_hight=150
    placeholder='Comment here.' 
     →placeholder は form_field_name.value(formの初期入力値) がある場合には指定しない
    mentions_list=ALL_USER_NAME_LIST
    LOAD_SUMMERNOTE_CSS_AND_BASE_SCRIPT=True
{% endcomment %}


{% include 'include/summernote/summernote_script.html' %}


<div id="SummernoteText">
    <textarea name="{{ form_field_name.html_name }}" id="{{ form_field_name.id_for_label }}" hidden="true">{% if form_field_name.value %}{{ form_field_name.value }}{% endif %}</textarea>
    <script>initSummernote_{{ form_field_name.id_for_label }}();</script>
</div>
