{% load humanize %}

<table class="table table-striped table-hover table-sm">
    <thead class="">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">Score</th>
          <th scope="col" class="text-center">latest Submit</th>
        </tr>
      </thead>
      <tbody>
        {% for object in public_score_list %}
        
        <tr 
          {% if user.unique_account_id == object.unique_account_id %}
          class="table-primary"
          {% endif %}
          >
          <th scope="row">{{ forloop.counter | intcomma }}</th>
          <td><a href="{% url 'accounts:user_profile:user_profile' unique_account_id=object.unique_account_id %}">{{object.username }}</a></td>
          <td class="text-center">{{ object.score | intcomma | floatformat:2 }}</td>
          <td class="text-center">{{ object.date_submission_latest | date:'Y/m/d' }}</td>
        </tr>
        {% endfor %}
      </tbody>
</table>