<footer class="container-fluid p-0 mx-0 mb-0 {% if not IS_PAGE_HOME %}mt-5{% endif %} bottom-0 bg-dark text-white">
    <div class="row m-0 p-0 mx-auto text-right pt-2 pr-5">
        <div class="col-12 m-0 p-0 text-white">
            Powered by K.Mitsuhiro
        </div>
    </div>
    <div class="row m-0 p-0 mx-auto text-right pt-2 pr-5">
        <div class="col-12 m-0 p-0 text-white">
            <!-- Github -->
            <a class="btn btn-outline-light rounded-circle mx-1" href="https://github.com/MITSUHIRO-KURIKI" target="_blank" rel="noopener noreferrer" role="button"><i class="bi bi-github"></i></a>
        </div>
    </div>
    <div class="row m-0 p-0 mx-auto text-center">
        <div class="col-12 m-0 p-0 pb-5">
            &copy; 2022 {% include 'title.html' %}.
        </div>
    </div>
</footer>