{% extends "accounts/accounts_base.html" %}

<!-- TITLE -->
{% block accounts_title %} - Forgot your password?{% endblock %}

<!-- CONTENT -->
{% block accounts_content %}

<h2>Forgot your password?</h2>

    <div class="container form-signin pt-4">
        <div class="row m-0 p-0 mx-auto">
            <div class="col-md-6 col-ms-12 m-0 p-0 mx-auto">
                <form method="post" onSubmit="is_note_msg=false;">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class="row m-0 p-0">
                        <div class="col-12 m-0 p-0">

                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
                                
                                <div class="input-group">
                                    <input type="{{ form.email.field.widget.input_type }}"
                                    class="form-control {% if form.email.errors %}is-invalid{% endif %}" 
                                    name="{{ form.email.html_name }}" 
                                    id="{{ form.email.id_for_label }}"
                                    placeholder="登録したメールアドレス"
                                    autofocus
                                    {% if form.email.field.required %}required{% endif %} />
                                
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="d-flex justify-content-center">
                        <button id="submit" class="btn btn-primary" type="submit">Send mail</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}