{% extends "accounts/accounts_base.html" %}

<!-- TITLE -->
{% block accounts_title %} - Forgot your password?{% endblock %}

<!-- CONTENT -->
{% block accounts_content %}

<h2>Forgot your password?</h2>

<!-- メール認証を使用していない場合 -->
    <div class="row m-0 p-0 mx-auto">
        <div class="col-md-10 col-ms-12 m-0 p-4 mx-auto">
            <p class="fs-3">
                登録したメールアドレスまたはユーザー名を記載して管理者へ問い合わせてください。<br>
                example◎mail.com（◎をアットマークに置き換えてください）
            </p>
            <p class="fs-3">
                管理者の方は、管理画面から申請者のパスワードを変更してください。<br>
                また、該当ユーザがアカウントロックしている場合には Axes › Access attempts から該当ユーザを削除してください。
            </p>
        </div>
    </div>

{% endblock %}