<div class="form-group">
    <label for="####">####</label>
    <p><img src="####" class="rounded" id="preview_img" alt="" /></p>
    
    <!-- SELECT FILE TYPE -->
    <div class="input-group">
        <div class="custom-file">
            <input type="file"
            class="custom-file-input"
            name="####" 
            id="inputFile" />
            <label class="custom-file-label" for="inputFile" data-browse="browse">choose a icon image file( or drop it here )</label>
        </div>
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary input-group-text" id="inputFileReset">clear</button>
        </div>
    </div>

</div>